@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TERMINA EL RESET*/
/*---- border-box---*/
* {
  box-sizing: border-box;
}

/*---- border-box---*/
@font-face {
  font-family: "pokemon";
  src: url(./style/base/misfont/Pokemon\ Classic.ttf);
}
body {
  background-color: rgb(209, 0, 0);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 286px;
  height: 369px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 394px;
  background-color: white;
}

figure {
  width: 80%;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

.header__figure {
  width: 100%;
  border-bottom: 8px solid black;
}

input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 1px solid black;
  font-family: "pokemon", sans-serif;
}

input:focus {
  outline: none;
}

.div_botonNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.miButton, .miButton2, .miButton3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: "pokemon", sans-serif;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.548), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: rgb(0, 0, 0);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.miButton:focus, .miButton2:focus, .miButton3 {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.buttoni {
  margin-top: 10px;
  display: flex;
  padding: 6px 14px;
  font-family: "pokemon", sans-serif;
  border-radius: 6px;
  border: none;
  width: 28%;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 1px 1.5px 1px rgb(0, 0, 0), inset 1px 1.5px 1.5px rgba(255, 255, 255, 0.5), 1px 1px 1px 1.5px rgba(0, 0, 0, 0.12);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttoni:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.miButton-Grass {
  background-color: #4CAF50; /* Verde */
  color: #fff; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
}

.miButton-fire {
  background-color: #FF5722; /* Naranja */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-water {
  background-color: #2196F3; /* Azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-ground {
  background-color: #8D6E63; /* Marrón */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-ice {
  background-color: #B3E0FF; /* Celeste */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-bug {
  background-color: #AAB220; /* Verde Oliva */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-electric {
  background-color: #FFC107; /* Amarillo */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-rock {
  background-color: #B0B0B0; /* Gris */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-fight {
  background-color: #FF9800; /* Naranja Claro */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-normal {
  background-color: #E0E0E0; /* Gris Claro */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-psychic {
  background-color: #9C27B0; /* Morado */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-poison {
  background-color: #76FF03; /* Verde Lima */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-dragon {
  background-color: #FFD700; /* Oro */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.miButton-ghost {
  background-color: #E91E63; /* Rosa */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.div_boton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flip-card {
  background-color: transparent;
  width: 323px;
  height: 290px;
  perspective: 1000px;
  margin: 23px 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
  border: 3px solid black;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 55%;
  height: 80%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.flip-card-front {
  background-color: #ffffff;
  color: black;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-image: url(https://pngimg.com/uploads/pokeball/pokeball_PNG29.png);
  color: black;
  transform: rotateY(180deg);
  border: 3px solid black;
  background-position: center;
  background-size: 574px;
  padding-top: 180px;
}

.mainClass {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 41px;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 33px;
  font-family: "pokemon", sans-serif;
  height: 50px;
}

p {
  font-size: 13px;
  font-family: "pokemon", sans-serif;
}

@media screen and (min-width: 768px) {
  .buttoni {
    width: 12%;
  }
  .header__figure {
    display: flex;
    width: 100%;
    height: 67%;
    border-bottom: 8px solid black;
    justify-content: center;
  }
  img {
    width: 61%;
  }
}
@media screen and (min-width: 992px) {
  .flip-card-front {
    width: 100%;
    height: 40%;
  }
  .main__div {
    width: 326px;
    height: 369px;
  }
  img {
    width: 60%;
  }
  .mainClass {
    flex-direction: row;
    justify-content: center;
  }
  .flip-card {
    width: 291px;
    height: 372px;
    margin: -17px 0px;
  }
  .div_boton {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 1600px) {
  .div_boton {
    margin-bottom: 5%;
  }
  .flip-card-front {
    width: 100%;
    height: 40%;
  }
  .main__div {
    width: 326px;
    height: 369px;
  }
  header img {
    width: 37%;
  }
  img {
    width: 60%;
  }
  .mainClass {
    flex-direction: row;
  }
  .flip-card {
    width: 291px;
    height: 372px;
    margin: -17px 0px;
  }
}/*# sourceMappingURL=style.css.map */