html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TERMINA EL RESET*/
/*---- border-box---*/
* {
  box-sizing: border-box;
}

/*---- border-box---*/
@font-face {
  font-family: "pokemon";
  src: url(./style/base/misfont/Pokemon\ Classic.ttf);
}
body {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 88%;
  justify-content: center;
  align-items: center;
  height: 394px;
  background-color: white;
}

figure {
  width: 80%;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

.header__figure {
  width: 100%;
  border-bottom: 8px solid black;
}

input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 1px solid black;
  font-family: "pokemon", sans-serif;
}

input:focus {
  outline: none;
}

.div_botonNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.miButton, .miButton2, .miButton3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: "pokemon", sans-serif;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: rgb(0, 0, 0);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.miButton:focus, .miButton2:focus, .miButton3 {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.buttoni {
  margin-top: 10px;
  display: flex;
  padding: 6px 14px;
  font-family: "pokemon", sans-serif;
  border-radius: 6px;
  border: none;
  width: 28%;
  justify-content: center;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttoni:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.miButton-Grass {
  background-color: green;
}

.miButton-fire {
  background-color: red;
}

.miButton-water {
  background-color: blue;
}

.miButton-ground {
  background-color: brown;
}

.miButton-ice {
  background-color: deepskyblue;
}

.miButton-bug {
  background-color: grey;
}

.miButton-electric {
  background-color: yellow;
}

.miButton-rock {
  background-color: gainsboro;
}

miButton-fight {
  background-color: orange;
}

.miButton-normal {
  background-color: white;
}

.miButton-psychic {
  background-color: purple;
}

.miButton-poison {
  background-color: greenyellow;
}

.miButton-dragon {
  background-color: gold;
}

.miButton-ghost {
  background-color: magenta;
}

.div_boton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flip-card {
  background-color: transparent;
  width: 323px;
  height: 290px;
  perspective: 1000px;
  margin: 23px 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
  border: 3px solid black;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 55%;
  height: 80%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.flip-card-front {
  background-color: #ffffff;
  color: black;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: black;
  transform: rotateY(180deg);
}

.mainClass {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 33px;
  font-family: "pokemon", sans-serif;
  height: 50px;
}

p {
  font-size: 13px;
  font-family: "pokemon", sans-serif;
}/*# sourceMappingURL=style.css.map */